body{ 
    background-color: white;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

p{
    font-size: 15px;
    margin:  15px; ;
    text-align: center;
    line-height: 1.5;
}



.p2{
    color: hsl(212, 45%, 89%);
    font-style: oblique;
}
.img{
    width: 300px;
    height: fit-content;
    border-radius: 5%;
}


.special{
    background-color: white;
    position: absolute;
    padding: 1%;
    border-radius: 3%;
    inline-size: 300px;
    bottom: 125px;
    margin: 55px;
}
   

.container{
    width: 440px;
    padding: 30%;
    margin: 5%;
    position: relative;
    border-style:none;
    background-color:hsl(212, 45%, 89%);
    
}